<!DOCTYPE html>
<html>
<head>
  <title>Scribe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= button_to "Sign Out", session_url, :method => :delete %>
</body>
</html>
